.contact-form {
    background-color: #EFEFEF;
    padding: 1em;
    margin-top: 2em;
}

.btn-disabled {
    background-color: $color-secondary;
    color: #FFF;
    width: 100%;

    &:hover{
        background-color: $color-primary;
    }
}