.header {
    margin: 1em;
}

.contact-form {
    background-color: #EFEFEF;
    padding: 1em;
}

.form-check-input {
    background-color: $color-primary;
    border: none;
}

.btn-disabled {
    background-color: $color-secondary;
    color: #FFF;
    width: 100%;

    &:hover{
        background-color: $color-primary;
    }
}