body {
    box-sizing: border-box;
    background-image: radial-gradient(circle at center, #FFF, #E5E5E5);
}

.container {
    margin-top: 5em;

    @media (max-width: 576px) {
        max-width: 90%;
    }
}