.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: $color-primary;
    font-family: $headings-font-family;
}
.navbar-light .navbar-brand {
    color: $color-primary;
    font-family: $headings-font-family;
}