.btn-group {
    background-color: #FFF;
    border: solid 2px $color-primary;
}
.btn-secondary {
    color: $color-primary;
}
.btn-selected {
    background-color: $color-primary;
    border-radius: 0;
    color: #FFF;
}